.erro{
  width: 200px;
  position: absolute;
  top: 53px;
  right: 53px;
  font-family: 'Prompt';
  font-size: 0.8rem;
  color: red;
}

@media(min-width: 550px){
  .erro{
    right: 135px;
  }
}
@media(min-width: 720px){
  .erro{
    right: 255px;
  }
}